<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Color Admin | Page without Sidebar</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />

	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	<link src="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
	<link href="{{ url_for('static', filename = 'plugins/jquery-ui/themes/base/minified/jquery-ui.min.css') }}" rel="stylesheet" />
	<link href="{{ url_for('static', filename = 'plugins/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" />
	<link href="{{ url_for('static', filename = 'plugins/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" />
	<link href="{{ url_for('static', filename = 'css/animate.min.css') }}" rel="stylesheet" />
	<link href="{{ url_for('static', filename = 'css/style.min.css') }}" rel="stylesheet" />
	<link href="{{ url_for('static', filename = 'css/style-responsive.min.css') }}" rel="stylesheet" />
	<link href="{{ url_for('static', filename = 'css/theme/default.css') }}" rel="stylesheet" id="theme" />
	<!-- ================== END BASE CSS STYLE ================== -->

	<!-- ================== BEGIN BASE JS ================== -->
	<script src="{{ url_for('static', filename = 'plugins/pace/pace.min.js') }}"></script>
	<!-- ================== END BASE JS ================== -->
</head>
<body>
	<!-- begin #page-loader -->
	<div id="page-loader" class="fade in"><span class="spinner"></span></div>
	<!-- end #page-loader -->

	<!-- begin #page-container -->
	<div id="page-container" class="fade page-without-sidebar page-header-fixed">
		<!-- begin #header -->
		<div id="header" class="header navbar navbar-default navbar-fixed-top">
			<!-- begin container-fluid -->
			<div class="container-fluid">
				<!-- begin mobile sidebar expand / collapse button -->
				<div class="navbar-header">
					<a href="Index.html" class="navbar-brand"><span class="navbar-logo"></span>My Bucket List</a>
					<button type="button" class="navbar-toggle" data-click="sidebar-toggled">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<!-- end mobile sidebar expand / collapse button -->

				<!-- begin header navigation right -->
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown navbar-user">
						<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
							<img src="{{ url_for('static', filename = 'img/user-13.jpg') }}" alt="" />
							<span class="hidden-xs">Robert Roberts</span> <b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li class="arrow"></li>
							<li><a href="javascript:;">Edit Profile</a></li>
							<li class="divider"></li>
							<li><a href="javascript:;">Log Out</a></li>
						</ul>
					</li>
				</ul>
				<!-- end header navigation right -->

			</div>
			<!-- end container-fluid -->
		</div>
		<!-- end #header -->

		<!-- begin #content -->
		<div id="content" class="content">
			<!-- begin breadcrumb -->
			<ol class="breadcrumb pull-right">
				<!--<li><a href="http://www.datatables.net/extensions/fixedcolumns/" target="_blank" class="btn btn-inverse btn-md">New Task</a></li> -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">New Task</button>

                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="exampleModalLabel">New Task</h4>
                      </div>
                      <div class="modal-body">
                        <form>
                          <div class="form-group">
                            <label for="recipient-name" class="control-label">Task Title</label>
                            <input type="text" class="form-control" id="recipient-name">
                          </div>
                          <div class="form-group">
                            <label for="message-text" class="control-label">Task Description</label>
                            <textarea rows = "5" class="form-control" id="message-text"></textarea>
                          </div>
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Add Task</button>
                      </div>
                    </div>
                  </div>
                </div>

			</ol>
			<!-- end breadcrumb -->
			<!-- begin page-header -->
			<h1 class="page-header">My Tasks</h1>
			<!-- end page-header -->

			<!-- begin row -->
			<div class="row">
			    <!-- begin col-10 -->
			    <div class="col-md-12">
			        <!-- begin panel -->
                    <div class="panel panel-inverse">
                        <div class="panel-heading">
                            <h4 class="panel-title">My To-Do</h4>
                        </div>
                        <div class="panel-body">
                            <table id="data-table" class="table table-striped table-bordered" width="100%">
								<colgroup>
									<col span="1" style="width: 10%;">
									<col span="1" style="width: 20%;">
                                    <col span="1" style="width: 50%;">
									<col span="1" style="width: 10%;">
									<col span="1" style="width: 10%;">
								</colgroup>
                                <thead>
                                    <tr>
                                        <th class = "text-center">Task #</th>
                                        <th>Task Title</th>
                                        <th>Task Description</th>
                                        <th class = "text-center">Edit Task</th>
                                        <th class = "text-center">Task Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="odd gradeX">
                                        <td class = "text-center">1</td>
                                        <td>Make UI Mock Up</td>
                                        <td>Make wireframes for login, signup, add and edit functionality.</td>
                                        <td class="text-center"><button type="button" class="btn btn-info" data-toggle="modal" data-target="#modal1"><span class="glyphicon glyphicon-edit"></span></button> </td>
                                        <!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">New Task</button> -->

                                        <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                                          <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                              <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="exampleModalLabel">Edit Task</h4>
                                              </div>
                                              <div class="modal-body">
                                                <form>
                                                  <div class="form-group">
                                                    <label for="recipient-name" class="control-label">Task Title</label>
                                                    <input type="text" class="form-control" id="recipient-name">
                                                  </div>
                                                  <div class="form-group">
                                                    <label for="message-text" class="control-label">Task Description</label>
                                                    <textarea rows = "5" class="form-control" id="message-text"></textarea>
                                                  </div>
                                                </form>
                                              </div>
                                              <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-primary">Edit Task</button>
                                              </div>
                                            </div>
                                          </div>
                                        </div>

                                        <td class="text-center input-lg"><input type="checkbox" value="" /></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- end panel -->
                </div>
                <!-- end col-10 -->
            </div>
            <!-- end row -->
		</div>
		<!-- end #content -->

	</div>
	<!-- end page container -->

	<!-- ================== BEGIN BASE JS ================== -->
	<script src="{{ url_for('static', filename = 'plugins/jquery/jquery-1.9.1.min.js') }}"></script>
	<script src="{{ url_for('static', filename = 'plugins/jquery/jquery-migrate-1.1.0.min.js') }}"></script>
	<script src="{{ url_for('static', filename = 'plugins/jquery-ui/ui/minified/jquery-ui.min.js') }}"></script>
	<script src="{{ url_for('static', filename = 'plugins/bootstrap/js/bootstrap.min.js') }}"></script>
	<script src="{{ url_for('static', filename = 'plugins/slimscroll/jquery.slimscroll.min.js') }}"></script>
	<script src="{{ url_for('static', filename = 'plugins/jquery-cookie/jquery.cookie.js') }}"></script>
	<!-- ================== END BASE JS ================== -->

	<!-- ================== BEGIN PAGE LEVEL JS ================== -->
	<script src="{{ url_for('static', filename = 'js/apps.min.js') }}"></script>
	<!-- ================== END PAGE LEVEL JS ================== -->

	<script>
		$(document).ready(function() {
			App.init();
		});
	</script>
]
</body>
</html>
